.clientData {
    /* border: 2px solid red; */
    margin-bottom: 6rem;
}

.clientBox1 {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.clientData h1 {
    /* border: 2px solid red; */
    margin: 4rem 0rem;
    text-align: center;
}