.main-box {
    /* border: 2px solid red; */
    margin: 6rem 3rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(255, 242, 242);
}

.main-box .main-box-title {
    margin-bottom: 1rem;
    text-align: center;
}

.main-box .choose {
    /* border: 2px solid red; */
    text-align: center;
    text-transform: uppercase;
}

.main-box .main-box-title h1 {
    /* border: 2px solid red; */
    width: 30rem;
}

.main-box .main-box-inside1 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 120%;

}

.main-box .main-box-inside2 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 120%;
}

.main-box .element {
    /* border: 1px solid rgba(0, 0, 0, 0.9); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 1.2rem;
    background-color: rgb(255, 184, 184);
    border-radius: 2rem;
    /* width: 25rem; */
}

.main-box-inside1 .element1 {
    width: 25rem;
    height: 50vh;
}

.main-box-inside2 .element2 {
    width: 38rem;
    height: 45vh;
}



/* .main-box .main-box-inside2 .element {
    border: 1px solid rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
} */

.element .icon {
    /* border: 2px solid red; */
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: -1rem;
}

.element .heading {
    /* border: 2px solid red; */
    font-size: 2rem;
    text-align: center;
    /* margin-bottom: 1rem; */
}

.element .data {
    /* border: 2px solid red; */
    font-size: 1.2rem;
    text-align: center;

}


@media(max-width:1300px) {

    .main-box-inside1 .element1 {
        width: 21rem;
    }

    .main-box-inside2 .element2 {
        width: 32rem;
    }

    .element .heading {
        font-size: 1.5rem;
    }

    .element .data {
        font-size: 1rem;
    }
}

@media(max-width:1060px) {
    .main-box .main-box-inside1 {
        display: flex;
        /* flex-direction: column; */
    }

    .main-box .main-box-inside2 {
        display: flex;
        /* flex-direction: column; */
    }
}

@media(max-width:800px) {
    .main-box .main-box-inside1 {
        display: flex;
        flex-direction: column;
    }

    .main-box .main-box-inside2 {
        display: flex;
        flex-direction: column;
    }

    .main-box-inside1 .element1,
    .main-box-inside2 .element2 {
        width: 25rem;
        height: 50vh;
    }
}

@media(max-width:460px) {

    .main-box-inside1 .element1,
    .main-box-inside2 .element2 {
        width: 18rem;
        height: 40vh;
    }

    .main-box .main-box-title h1 {
        font-size: 1.8rem;
        width: 20rem;
    }
}