.main-box {
    /* border: 2px solid red; */
    margin: 6rem 3rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(255, 242, 242);
}

.main-box .main-box-title {
    margin-bottom: 1rem;
}

.main-box .choose {
    /* border: 2px solid red; */
    text-align: center;
    text-transform: uppercase;
}

.main-box .main-box-inside1 {
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;

}

.main-box .element {
    /* border: 1px solid rgba(0, 0, 0, 0.9); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 1.2rem;
    background-color: rgb(255, 184, 184);
    border-radius: 2rem;
}

.main-box .main-box-inside2 {
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;
}

/* .main-box .main-box-inside2 .element {
    border: 1px solid rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
} */

.element .icon {
    /* border: 2px solid red; */
    font-size: 2.3rem;
}

.element .heading {
    /* border: 2px solid red; */
    font-size: 2rem;
    /* margin-bottom: 1rem; */
}

.element .data {
    /* border: 2px solid red; */
    font-size: 1.2rem;
    text-align: center;

}


@media(max-width:800px) {

    .main-box {
        /* border: 2px solid red; */
        margin: 2rem 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: rgb(255, 242, 242);
    }

    .main-box .main-box-inside1 {
        display: flex;
        flex-direction: column;
    }

    .main-box-title h4 {
        /* border: 2px solid red; */
        text-align: center;
    }

    .main-box-title h1 {
        /* border: 2px solid red; */
        text-align: center;
        font-size: 1.5rem;
    }

    .main-box-inside1 {
        /* border: 2px solid red; */
        width: 150%;
    }

    .main-box-inside2 {
        /* border: 2px solid red; */
        width: 150%;
        display: flex;
        flex-direction: column;
    }

    .element .icon {
        /* border: 2px solid red; */
        font-size: 2rem;
    }

    .element .heading {
        /* border: 2px solid red; */
        font-size: 1.5rem;
        /* margin-bottom: 1rem; */
    }

    .element .data {
        /* border: 2px solid red; */
        font-size: 1rem;
        text-align: center;

    }
}