.mainBlock {
    margin: 6rem 3rem;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

@media(max-width:800px) {
    .leftBlock img {
        width: 15rem;
    }

    .rightBlock {
        /* border: 2px solid red; */
        width: 150%;
    }

    .rightBlock h1 {
        text-align: center;

    }

    .rightBlock h3 {
        /* border: 2px solid red; */
        text-align: center;
        font-size: .8rem;
    }

    .rightBlock p {
        /* border: 2px solid red; */
        width: 100%;
        text-align: center;
        font-size: .8rem;
    }

    .mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

}