.mainBlock {
    margin: 6rem 3rem;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.leftBlock {

    /* border: 2px solid red; */
}

.rightBlock {
    /* border: 2px solid red; */
    width: 50rem;
}
.rightBlock .title-block1{
    color: var(--theme-color-bg);
}

@media(max-width:1200px) {
    .mainBlock {
        margin: 2rem 3rem;
    }

    .leftBlock img {
        width: 25rem;
    }

    .leftBlock {
        order: 2;
    }

    .rightBlock {
        /* border: 2px solid red; */
        width: 100%;
        order: 1;
    }

    .rightBlock h1 {
        text-align: center;

    }

    .rightBlock h3 {
        /* border: 2px solid red; */
        text-align: center;
        font-size: .8rem;
    }

    .rightBlock p {
        /* border: 2px solid red; */
        width: 100%;
        text-align: center;
        font-size: .8rem;
    }

    .mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

}

@media(max-width:450px) {
    .rightBlock {
        /* border: 2px solid red; */
        width: 150%;
    }

    .leftBlock img {
        width: 15rem;
    }
}