.hero {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url("../../assets/imgAssets/hero.png"); */
    /* background: linear-gradient(rgba(58, 22, 0, 0.7), rgba(8, 0, 58, 0.7)), url("../../assets/imgAssets/hero.png"); */
    background: linear-gradient(var(--theme-color-highlight3), var(--theme-color-highlight4)), url("../../assets/imgAssets/hero5.png");
    /* background: url("../../assets/imgAssets/hero5.png"); */
    background-size: cover;
    background-position: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    /* border: 2px solid red; */
    font-size: 5rem;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
}

.hero-text .last-line {
    /* border: 2px solid red; */
    font-size: 5rem;
    font-weight: 600;
    color: #ffffff;
    width: 55rem;
}

.hero-text h3 {
    text-transform: uppercase;
    color: #ffffff;
}

.hero-text p {
    /* border: 2px solid red; */
    font-size: 1.2rem;
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    color: #ffffff;
}

.hero .hero-text button span {
    color: rgb(59, 59, 59);
    margin-right: 0.4rem;
}

/* ------------- media query ------------- */

@media(max-width:850px) {
    .hero-text h1 {
        font-size: 30px;
    }
}

@media(max-width:650px) {
    .hero-text h1 {
        font-size: 2.5rem;
        max-width: 400px;
        margin: auto;
    }

    .hero-text .last-line {
        /* border: 2px solid red; */
        font-size: 2.5rem;
        font-weight: 600;
        color: #ffffff;
        width: 55rem;
    }

    .hero-text p {
        font-size: 12px;
        /* max-width: 400px; */
        margin: 15px auto 30px;
    }


}