.box1 {
    margin: 6rem 3rem;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* margin: 0 3rem; */
}

.box1 .left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 1rem;
}

.box1 .left ul li span {
    display: flex;
    /* border: 2px solid red; */

}

.box1 .left ul li span svg {
    display: flex;
    font-size: 20px;
    /* border: 2px solid red; */

}

.box1 .left ul li {
    display: flex;
    /* gap: 0.1rem; */
    /* border: 2px solid red; */
}

@media(max-width:800px) {
    .box1 {
        margin: 2rem 3rem;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        /* margin: 0 3rem; */
    }

    .box1 .left {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        gap: 1rem;
        order: 2;

    }

    .box1 .left h1 {
        font-size: 1rem;
    }

    .box1 .left p {
        font-size: .8rem;
    }

    .box1 .right {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        gap: 1rem;
        order: 1;
    }

    .box1 .right img {
        width: 15rem;
    }

    .box1 .left ul li span {
        display: flex;
        /* border: 2px solid red; */

    }

    .box1 .left ul li span svg {
        display: flex;
        font-size: 20px;
        /* border: 2px solid red; */

    }

    .box1 .left ul li {
        display: flex;
        /* gap: 0.1rem; */
        /* border: 2px solid red; */
    }

}