.contact {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.contact-col {
    flex-basis: 48%;
    color: #676767;

}

.contact-col h3 {
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 {
    max-width: 450px;
    list-style: 0.3;
}

.contact-col h3 img {
    width: 35px;
    margin-left: 10px;
}

.contact-col ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    /* border: 2px solid red; */
    display: flex;

}

.contact-col ul li span {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-col ul li span svg {
    font-size: 25px;
    margin-right: 10px;
    color: #222994;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span {
    display: block;
    margin: 20px 0;

}

/* ------------- media query ------------- */

@media(max-width:800px) {
    .contact {
        display: block;
    }

    .contact-col {
        padding: 20px;
    }
}