.box {
    margin: 6rem auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 80%;
    height: 12rem;
    background: rgb(180, 58, 108);
    background: linear-gradient(90deg, rgba(180, 58, 108, 0.8324579831932774) 0%, rgba(253, 29, 29, 0.8464635854341737) 57%, rgba(252, 176, 69, 0.81) 100%);
    border-radius: 1rem;
}

.box h2 {
    color: white;
}

.box button {
    text-transform: capitalize;
}


@media(max-width:800px) {
    .box {
        margin: 6rem auto;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: 100%;
        height: 12rem;
        background: rgb(180, 58, 108);
        background: linear-gradient(90deg, rgba(180, 58, 108, 0.8324579831932774) 0%, rgba(253, 29, 29, 0.8464635854341737) 57%, rgba(252, 176, 69, 0.81) 100%);
        border-radius: 1rem;
    }

    .box h2 {
        color: white;
        font-size: .8rem;
    }

    .box button {
        text-transform: capitalize;
    }
}