nav {
    width: 100%;
    /* background-color: #333; */
    color: #fff;
    padding: 4px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo-cover1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.logo-cover1 h3 {
    font-size: 2.5rem;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* width: 400px; */
    /* position: absolute; */
    /* padding-bottom: -8px; */
}

.logo {
    width: 2.5rem;
}

.logo-cover1 .logo-inside1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-cover1 .logo-inside2 {
    /* border: 2px solid red; */
}

.logo-cover1 .logo-inside2 h5 {
    /* border: 2px solid red; */
    color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: 0%;
    padding-top: 1rem;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-style: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: .1rem;
    transition: 0.5s;

}


nav ul li:last-child:hover {
    /* border-bottom: 2px solid transparent; */
    border: 0px solid transparent;
}

nav ul li:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.dark-nav {
    background-color: #212EA0;
    transition: ease-in-out .5s;
    /* transition */
}

.menu-icon {
    display: none;
}

nav span {
    /* border: 2px solid red; */
    /* margin-left: 0px; */
}



/* ------------- media query ------------- */

@media (max-width:1118px) {
    .logo {
        /* width: 140px; */
    }

    nav ul li {
        margin: 10px 15px;
    }

    ul .btn {
        font-size: 14px;
    }

}

@media (max-width:900px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu {
        right: -200px;
    }

    nav span svg {
        /* border: 2px solid red; */
        font-size: 30px;
    }

    .logo-cover1 .logo-inside1 .logo {
        width: 2rem;
    }

    .logo-cover1 .logo-inside2 h5 {
        font-size: .5rem;
    }

    .logo-cover1 .logo-inside2 h3 {
        font-size: 2rem;
    }
}