* {
    color: black;
}

.nav {
    /* border: 4px solid rgb(0, 8, 255); */
    /* background-color: rgb(0, 0, 0); */
    /* background: linear-gradient(90deg, rgba(252, 133, 69, 0.81) 0%, rgba(253, 29, 29, 0.8464635854341737) 48%, rgba(252, 133, 69, 0.81) 100%); */
    background: rgb(255, 80, 27);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 1rem; */
}

.NavLogoCover {
    /* border: 2px solid red; */
}

.nav .NavLogoCover img {
    width: 13rem;
    /* border: 2px solid red; */
    transition: .5s;
}

.nav .img:hover {
    scale: 102%;
}

.nav .top-links {
    /* border: 2px solid black; */
    transition: ease-in-out .5s;
}

.nav .top-links .top-links-ul {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.nav .top-links .top-links-ul li {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    transition: 0.2s;
    padding: .3rem 0rem;
    transition: .5s;
    /* border: 2px solid white; */
    text-align: center;
}

.nav .top-links .top-links-ul li:hover {
    color: rgb(187, 187, 187);
}

.nav .menu-icon {
    display: none;
}

.dark-nav {
    /* background-color: #212EA0; */
    background-color: var(--theme-color-bg);
    transition: ease-in-out .5s;
}

@media(max-width:1300px) {
    .nav {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .nav .top-links .top-links-ul li {
        font-size: .8rem;
    }
}

@media(max-width:1000px) {

    .nav .NavLogoCover img {
        margin-top: .2rem;
        width: 10rem;
        padding-bottom: 0px;
    }

    .nav .top-links .top-links-ul {
        /* border: 2px solid red; */
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background: var(--theme-color-bg);
        z-index: -1;
        width: 220px;
        padding-top: 80px;
        z-index: 100;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 1rem;
        background: rgb(255, 80, 27);
        transition: ease-in-out 0.5s;
    }

    .nav .top-links .top-links-ul li {
        display: flex;
        font-size: .8rem;
    }

    .nav .menu-icon {
        position: absolute;
        display: flex;
        width: 2.3rem;
        top: 1.06rem;
        right: 1.2rem;
        cursor: pointer;
        z-index: 1000;
        color: #fff;
        border: 2px solid white;
        padding: .4rem;
        border-radius: .4rem;
    }

    .nav .menu-icon:hover {
        /* background-color: grey; */
    }

    .hide-mobile-menu {
        left: -220px;
        transition: ease-in-out 0.5s;
    }

}