* {
    color: black;
}

.nav {
    /* border: 2px solid red; */
    /* background-color: rgb(0, 0, 0); */
    background: rgb(180, 58, 108);
    /* background: linear-gradient(90deg, rgba(252, 133, 69, 0.81) 0%, rgba(253, 29, 29, 0.8464635854341737) 48%, rgba(252, 133, 69, 0.81) 100%); */
    background: linear-gradient(90deg, rgba(255, 80, 27, 0.81) 0%, rgba(253, 29, 29, 0.8464635854341737) 48%, rgba(255, 69, 27, 0.81) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav img {
    width: 15rem;
    /* border: 2px solid red; */
    transition: .5s;
}

.nav img:hover {
    scale: 105%;
}

.nav .top-links {
    border: 2px solid black;
}

.nav .top-links .top-links-ul {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.nav .top-links .top-links-ul li {
    font-size: 1.2rem;
}

@media(max-width:800px) {
    .nav img {
        width: 10rem;
    }

}