.campus {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.campus .gallery {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campus button {
    margin-top: 2rem;
}

.gallery img {
    width: 23%;
    border-radius: 10px;
}

/* ------------- media query ------------- */

@media(max-width:800px) {
    .gallery {
        flex-wrap: wrap;
    }

    .gallery img {
        width: 48%;
        margin-bottom: 25px;
    }
}