/* .banner-img {
    background: url("../../../assets/imgAssets/banner2.jpg");
    width: 100%;
    min-height: 64vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
} */

.banner-cover {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2rem; */

}

.banner-cover .banner-img {
    width: 100%;
}